

<div class="main">
	  <div class="tag">
		<h3>Welcome to my site! This is CoderAPS. Check out what I have been working on using Ruby on Rails by clicking on 'My Portfolio' button below.</h3>
		
		<ul class="browser_info">
			<p>This site is most compatible with the following browser/s:</p>
			<li>Firefox</li>
		</ul>
		
		<a href="/portfolio" class="green button">My Portfolio</a>
		
	  </div>
</div>


